.installation {
  width: 100%;
  height: 1200px;
  position: relative;
  background: linear-gradient(#000, #000), #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 71px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .installation {
    height: auto;
  }
}
