.backgroundshadow8 {
  width: 300px;
  height: 48px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.group-icon1 {
  height: 63.9px;
  width: 56.6px;
  position: absolute;
  margin: 0 !important;
  top: -31.5px;
  left: 110.9px;
  object-fit: contain;
}
.groupe-5170-icon1 {
  align-self: stretch;
  height: 12.4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox-container {
  width: 102.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.7px 0 0;
  box-sizing: border-box;
}
.ubigis-newsletter1 {
  position: relative;
  line-height: 38px;
}
.newsletter-checkbox {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.input-container {
  width: 440.4px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.input-container,
.newsletter-form1,
.newsletter-input {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.newsletter-input {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -1.5px;
}
.newsletter-form1 {
  width: 615.1px;
  flex-direction: column;
  justify-content: flex-start;
}
.and-our-latest-data-plan1,
.get-fresh-news1 {
  display: block;
}
.get-fresh-news-container1 {
  margin: 0;
  position: relative;
  line-height: 22px;
  font-weight: 300;
}
.newsletter-description1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 18px;
}
.newsletter-wrapper {
  width: 653px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 0;
  box-sizing: border-box;
  gap: 15.5px;
  max-width: calc(100% - 708px);
  flex-shrink: 0;
  font-size: 31.8px;
}
.enter-your-email1 {
  position: relative;
  font-weight: 300;
}
.input3 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 14px;
  white-space: nowrap;
}
.image-icon11 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.span {
  font-weight: 500;
  font-family: Lato;
}
.yes-send-me-container {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 17.2px;
  color: #fff;
}
.email-input-wrapper,
.newsletter-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input-wrapper {
  align-self: stretch;
  gap: 21px;
}
.newsletter-container1 {
  height: 48px;
  width: 345.6px;
  padding: 37px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 1016px);
  color: #868e96;
}
.newsletter-element-rightsvg-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subscribe1 {
  position: relative;
  line-height: 27px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 94px;
}
.input4 {
  width: 145.7px;
  border-radius: 30px;
  background-color: #000;
  border: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 22px 8px 26px;
}
.subscription-button-container,
.subscription-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscription-button-container {
  align-self: stretch;
  height: 127px;
}
.subscription-button-wrapper {
  height: 48px;
  width: 322.9px;
  padding: 17px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 1039px);
  text-align: center;
}
.newsletter-container,
.newsletter-content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.newsletter-container {
  height: 48px;
  flex: 1;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
}
.newsletter-content1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 34px 0 0;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans";
}
.click-here1 {
  text-decoration: underline;
}
.your-email-address-container3 {
  width: 100%;
}
.your-email-address-container2 {
  margin: 0;
  width: 1282.7px;
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.background27 {
  align-self: stretch;
  background-color: #e41c68;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 23px 315px 41.5px 20px;
  box-sizing: border-box;
  gap: 133.5px;
  debug_commit: bf4bc93;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1225px) {
  .background27 {
    gap: 67px;
    padding-right: 157px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .ubigis-newsletter1 {
    font-size: 25px;
    line-height: 30px;
  }
  .newsletter-checkbox {
    flex-wrap: wrap;
  }
  .newsletter-container {
    height: auto;
  }
  .background27 {
    gap: 33px;
    padding-right: 78px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ubigis-newsletter1 {
    font-size: 19px;
    line-height: 23px;
  }
}
