.link-svg22 {
  align-self: stretch;
  height: 44px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  width: 122.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px 0 0;
  box-sizing: border-box;
}
.buy-an-esim4 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  white-space: nowrap;
}
.business {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider16 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
}
.buy-plan,
.top-up4 {
  display: flex;
  justify-content: flex-start;
}
.top-up4 {
  flex-direction: row;
  align-items: flex-end;
  gap: 17.1px;
}
.buy-plan {
  flex-direction: column;
  align-items: flex-start;
  padding: 4.5px 0 0;
}
.get-started5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 102px;
  white-space: nowrap;
}
.navigation1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 2px 0 0;
}
.vertical-divider17 {
  height: 31.5px;
  width: 1px;
  position: relative;
  background-color: #2f2f2f;
}
.top-up5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.vertical-divider-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16.8px;
}
.background-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.5px 3px 0 0;
}
.vertical-divider18 {
  width: 1px;
  height: 31.5px;
  position: relative;
  background-color: #2f2f2f;
}
.vertical-divider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.5px 0 0;
}
.help-center4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 3px 0 0;
}
.vertical-divider19 {
  width: 1px;
  height: 31.5px;
  position: relative;
  background-color: #2f2f2f;
}
.newsletter-form1 {
  width: 11.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.5px 10px 0 0;
  box-sizing: border-box;
}
.link-ubigi-cartsvg4 {
  align-self: stretch;
  height: 28px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer-content3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.link8 {
  align-self: stretch;
  width: 124.9px;
}
.button9 {
  height: 44px;
  width: 154px;
  font-family: Roboto;
  font-size: 16px;
  color: #000;
}
.footer-content-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14.5px;
  max-width: 100%;
}
.link-my-account4 {
  align-self: stretch;
  width: 72px;
  position: relative;
  border-radius: 30px;
  max-height: 100%;
  min-height: 44px;
}
.newsletter-form-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 0;
  box-sizing: border-box;
  gap: 15px;
  max-width: 100%;
}
.link-svg23 {
  width: 28px;
  height: 28px;
  position: relative;
}
.background31,
.s-v-g {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px 0 0;
}
.background31 {
  align-self: stretch;
  height: 75px;
  background-color: #000;
  flex-direction: row;
  padding: 15.5px 20px 15.5px 25px;
  box-sizing: border-box;
  gap: 16.7px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans";
}
.image-icon25 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.assistance6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.ubigis-iccid {
  position: relative;
  font-size: 38.1px;
  line-height: 48px;
  z-index: 1;
}
.background32,
.header3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background32 {
  background-color: #000;
  overflow: hidden;
  padding: 96px 20px 102px 852px;
  position: relative;
  margin-top: -2px;
}
.header3 {
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
  text-align: left;
  font-size: 50px;
  color: #fff;
  font-family: "Open Sans";
}
@media screen and (max-width: 1725px) {
  .business,
  .buy-an-esim4 {
    display: none;
  }
}
@media screen and (max-width: 1325px) {
  .background32 {
    padding-left: 426px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .assistance6 {
    font-size: 40px;
    line-height: 48px;
  }
  .ubigis-iccid {
    font-size: 30px;
    line-height: 38px;
  }
  .background32 {
    padding-left: 213px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .assistance6 {
    font-size: 30px;
    line-height: 36px;
  }
  .ubigis-iccid {
    font-size: 23px;
    line-height: 29px;
  }
  .background32 {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
